<div class = "aboutAdminContainer">
    {{#if about.length}}
        <div>
            <table border="1">
                <h2 class="centerText">About Me</h2>
                <tbody>
                    {{#each about}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{description}}</td>
                            <td>
                                <a href="/about/update/{{id}}" type="button">Edit</a>
                                <a href="/about/delete/{{id}}" type="button">Delete</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <div class = "errormessage">
            <p>NO ABOUT ME DATA</p>
        </div>
    {{/if}}
    <div>
        <a href="/about/create" ><button>Add New Information</button></a>
    </div>

    <div>
        {{#if skills.length}}
            <h2>Skills</h2>
    </div>
        <div>
            {{#each skills}}
                <a href="/skills/delete/{{id}}"><button class = "buttonContainer delete" type="button">{{name}} ✖</button></a>
            {{/each}}
        </div>
        {{else}}
            <div class = "errormessage">
                <p>NO SKILLS DATA</p>
            </div>
        {{/if}}
        <div>
            <form method="POST" action="/about/admin">
                <input type="text" name="skill" placeholder="Enter Skill" value={{skill}}>
                <button class="buttonContainer" type="submit">Add Skill</button>
                {{#if errorMessages.length}}
                    {{#each errorMessages}}
                        <div class = "errormessage">
                            <p>{{this}}</p>
                        </div>
                    {{/each}}
                {{/if}}
            </form>
        </div>
    
</div>