<div>
    {{#if about.length}}
        <table border="1">
            <caption>About Me</caption>
            <tbody>
                {{#each about}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>
                            <a href="/about/update/{{id}}" type="button">Edit</a>
                            <a href="/about/delete/{{id}}" type="button">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div>
            <p>NO ABOUT ME DATA</p>
        </div>
    {{/if}}
    <div>
        <a href="/about/create" ><button>Add New Information</button></a>
    </div>

    <div>
        {{#if skills.length}}
            <p><caption>Skills</caption></p>
                {{#each skills}}
                    <a href="/skills/delete/{{id}}"><button class = "delete" type="button">{{name}} ✖</button></a>
                {{/each}}
        {{else}}
            <div>
                <p>NO SKILLS DATA</p>
            </div>
        {{/if}}
        <form method="POST" action="/about/admin">
            <input type="text" name="skill" placeholder="Enter Skill" value={{skill}}>
            <button type="submit">Add Skill</button>
            {{#if errorMessages.length}}
                {{#each errorMessages}}
                    <p>{{this}}</p>
                {{/each}}
            {{/if}}
        </form>
    </div>
    
</div>