{{#if session.isLoggedIn}}
    <div class = "container centre">
        {{#if about.length}}
            {{#each about}}
                <div>
                    <div>
                        <a href="/editAbout/{{id}}"><h2 class = "justblue">{{title}}</h2></a>
                    </div>
                    <div class = "createspace">
                        <p>{{description}}<p>
                    </div>
                </div>
            {{/each}}
        {{else}}
            NO ABOUT DATA
        {{/if}}
        <a href="/addAbout" >
            <div class = "bluetextbutton">
                <button>+ Add New Information</button>
            </div>
        </a>
    </div>
{{else}}
    <div class = "container centre">
        {{#if about.length}}
            {{#each about}}
                <div>
                    <div class = "justblue">
                        <h2>{{title}}</h2>
                    </div>
                    <div class = "createspace">
                        <p>{{description}}<p>
                    </div>
                </div>
            {{/each}}
        {{else}}
            NO ABOUT DATA
        {{/if}}
    </div>
{{/if}}