<div class = "container centre">
    <form method="POST" action="/editProject/{{id}}" enctype="multipart/form-data">
        <div class = "blacktext">
            <h2>Title</h2><br>
        </div>
        <div class = "textbox">
            <input name="title" type="text" placeholder="Enter Title" value = "{{project.title}}">
        </div>
        <br>
            {{#if errorMessages.length}}
                {{#each errorMessages}}
                    {{this}}
                {{/each}}
            {{/if}}
        <div class="image-upload">
                <label for="file-input">
                    <img src="{{project.imagePath}}" alt="{{project.imagePath}}">
                </label>
                    <input name='imagePath' id="file-input" type="file" />
        </div>
        <br><br>
        <div class = "blacktext">
            <h2>Description</h2><br>
        </div>
        <div class = "textbox">
            <textarea name="description" rows="4" cols="50" placeholder="Enter Description">{{project.description}}</textarea>
        </div>
        <br><br>
        <div>
            <div class = "deletebutton">
                <a href="/deleteProject/{{id}}"><button type = 'button'>Delete</button></a>
            </div>   
            <div class = "savebutton">
                <button type="submit">Save</button><a href="../">
            </div>
        </div>
    </form>
</div>