<div class = "container">
    <div class="experiencesAdminContainer">
    {{#if experiences.length}}
        <table border="1">
            <h2 class="centerText">Experiences</h2>
            <tbody>
                {{#each experiences}}
                <tr>
                    <td class="fontSize">{{title}}</td>
                    <td class="fontSize">
                        <form method = "post" action="/experiences/delete/{{id}}">
                            <a href="/experiences/read/{{id}}" type="button">View</a>
                            <a href="/experiences/update/{{id}}" type="button">Edit</a>
                            <input class="delete" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div>
            <p>NO EXPERIENCES DATA</p>
        </div>
    {{/if}}
        <div>
            <a href="/experiences/create" ><button class="buttonContainer">Add</button></a>
        </div>
    </div>
</div>