<div class = "container">
    {{#if home.length}}
        {{#each home}}
            <div class = "fromtop">
                <p>{{introduction}}</p>
            </div>
            <div class = "between">
                <h1>{{name}}</h1>
            </div>
            <div class = "between">
                <h2>{{employment}}</h2>
            </div>
            <div class = "between">
                <p>{{description}}</p>
            </div>
            <br>
        {{/each}}
    {{else}}
    <div>
        <p>NO HOME DATA</p>
    </div>
    {{/if}}
</div>