{{#if session.isLoggedIn}}
    <div>
        {{#if projects.length}}
                <p><strong>My Projects</strong></p>
                {{#each projects}}
                    <a href = "/editProject/{{id}}"><img src="{{imagePath}}" alt="{{imagePath}}"></a>
                    <p><strong>{{title}}</strong></p>
                {{/each}}
        {{else}}
        <div>
            <p>NO DATA</p>
        </div>
        {{/if}}
        <div>
            <a href="/addProject" ><button>Add New Project</button></a>
        </div>
    </div>
{{else}}
    <div>
        <div>
            <h2>{{home.title}}</h3>
            <p>{{home.occupation}}</p>
            <p>{{home.description}}</p>
            <br>
        </div>
        {{#if projects.length}}
            <h3>Projects</h3>
            {{#each projects}}
            
            <div>
                <a href = "/project/{{id}}"><img src="{{imagePath}}" alt="{{imagePath}}"></a>
                <p><strong>{{title}}</strong></p>
                <br>
            </div>
            {{/each}}
        {{else}}
        <div>
            <p>NO PROJECTS DATA</p>
        </div>
        {{/if}}
    </div>
{{/if}}