{{#if session.isLoggedIn}}
    <div>
        {{#if projects.length}}
                <p><strong>My Projects</strong></p>
                {{#each projects}}
                    <a href = "/editProject/{{id}}"><img src="{{imagePath}}" alt="{{imagePath}}"></a>
                    <p><strong>{{title}}</strong></p>
                {{/each}}
        {{else}}
        <div>
            <p>NO DATA</p>
        </div>
        {{/if}}
        <div>
            <a href="/addProject" ><button>Add New Project</button></a>
        </div>
    </div>
{{else}}
    <div class = "container">
        <div class = "centrealign">
            <div>
                <div class = "bluetext">
                    <h2>{{home.title}}</h2><br>
                </div>
                    <p>{{home.occupation}}</p>
                    <p>{{home.description}}</p>
                    <br>
            </div>
        {{#if projects.length}}
            <div class = "bluetext">
                <h3>My Projects</h3><br><br><br>
            </div>
            {{#each projects}}
            
            <div>
                <a href = "/project/{{id}}">
                    <div class = "projectimage">
                        <img src="{{imagePath}}" alt="{{imagePath}}">
                    </div>
                </a>
                <div class = "caption">
                    <br>
                    <p><strong>{{title}}</strong></p>
                    <br><br><br>
                </div>
            </div>
            {{/each}}
        {{else}}
        <div>
            <p>NO PROJECTS DATA</p>
        </div>
        </div>
        {{/if}}
    </div>
{{/if}}