<div class = "container">
    {{#if home.length}}
        {{#each home}}
            <div class = "homeContainer">
                <div>
                    <p>{{introduction}}</p>
                </div>
                <div class = "innerContainer">
                    <h1>{{name}}</h1>
                </div>
                <div class = "innerContainer">
                    <h2>{{employment}}</h2>
                </div>
                <div class = "innerContainer">
                    <p>{{description}}</p>
                </div>
            </div>
        {{/each}}
    {{else}}
    <div>
        <p>NO HOME DATA</p>
    </div>
    {{/if}}
</div>