<div class = "container">
    {{#if home.length}}
        <form method="POST" action="" class="homeAdminContainer">
            {{#each home}}
                <div class="innerContainer">
                    <p>Introduction</p>
                    <input type="text" name="introduction" value="{{introduction}}" size="40">
                </div>
                
                <div class="innerContainer">
                    <p>Name</p>
                    <input type="text" name="name" value="{{name}}" size="40">
                </div>
                
                <div class="innerContainer">
                    <p>Employment</p>
                    <input type="text" name="employment" value="{{employment}}" size="80">
                </div>
                
                <div class="innerContainer">
                    <p>Description</p>
                    <input type="text" name="description" value="{{description}}" size="80">
                </div>
                <br>
            {{/each}}
            {{#if isSuccessful}}
                <p>Updated Successfully</p>
            {{/if}}
            {{#if errorMessages.length}}
                <div class = "errormessage">
                    {{#each errorMessages}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            {{/if}}
            <div class = "loginButtonContainer">
                <button type="submit">Submit</button>
            </div>
        </form>
    {{else}}
        <div>
            <p>NO HOME DATA</p>
        </div>
    {{/if}}
</div>